<div class="body">
    <div class="table">
        <p-table [value]="orders">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Products</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
                <tr>
                    <td>{{order.user.name}}</td>
                    <td>{{order.user.email}}</td>
                    <td>{{order.address}}</td>
                    <td>{{order.products.length}}</td>
                    <td class="btnDetail"><a (click)="showProduct(order.products)">details</a></td>
                </tr>
            </ng-template>
        </p-table>
    </div>



    <div class="affichageDetails">
        <ul>
            <li *ngFor="let product of products">
                {{product.name}}--{{product.type}}
            </li>
        </ul>
    </div>
</div>
