<h1>Clean service</h1>
<h3>Nous récupérons, lavons et livrons vos vêtements à domicile dans Jerusalem.</h3>
<div id="image_costume_fond">   
    <img src="../../assets/img/costume-housse-sorti.png" alt="image costumes">
</div>

<p>Vous n'avez pas le temps d'apporter vos vêtements au pressing?</p>
<p>Clean service s'en charge pour vous!</p>
<h2>Comment ca marche ?</h2>
<div>
    etape 1: <br>
    Selectionne, via le site clean Service, tes vêtements que tu as envi d'emmener au pressing. <br><br>
    étape 2: <br>
    Programme une date et une tranche d'horraire en fonction de tes disponibilité. <br><br>
    étape 3: <br>
    Il ne te reste plus qu'à valider, et clean Service s'occupe du reste.
</div>

    <h2>Tellement simple et pratique, en quelque clique tes vêtements sont emmenés au pressing et rendu à ton domicile. Et tout ça, sans sortir de chez toi !</h2>


