<div id="body">
    <div class="connexion">
        <div class="box">
            <h1>Login</h1>

            <form (submit)="onAuth(authForm)" #authForm="ngForm" ngNativeValidate>

                <div class="inputBox">
                    <input type="email" name="email" autocomplete="off"  #email="ngModel" ngModel required>
                    <label for="Email">Email</label>
                </div>


                <div class="inputBox">
                    <input type="password" name="password" autocomplete="off"  #password="ngModel"  ngModel required>
                    <label for="password">Password</label>
                </div>

                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>