<div id="body">
    <div class="box">
        <h1>Sign Up</h1>

        <form (submit)="onSignUp(signUpForm)" #signUpForm="ngForm" ngNativeValidate>
            <div class="inputBox">
                <input type="text" ngModel name="name" autocomplete="off" #name="ngModel" required>
                <label>Name</label>
            </div>

            <div class="inputBox">
                <input type="email" name="email" #email="ngModel" autocomplete="off" ngModel required>
                <label for="Email">Email</label>
            </div>

            <div class="inputBox">
                <input type="password" name="password" #password="ngModel" autocomplete="off" ngModel required>
                <label>Password</label>
            </div>

            <button type="submit">Create Account</button>
        </form>

    </div>
</div>