<header>

  <div class="logo_menu">
    <img src="../assets/img/logoBlanc.png" width="150px" height="65px">
  </div>

  <div class="menu_ancre">
    <button mat-button><a routerLink="tarifs">Nos Tarifs</a></button>
    <button mat-button><a routerLink="contact">contact</a></button>
    <button mat-button><a routerLink="home">Home</a></button>
    <button mat-button><a routerLink="panier">Panier</a></button>
  </div>
 
  <div class="btn_menu">
    <button mat-button>
      <mat-icon class="example-icon" mat-button [matMenuTriggerFor]="menu">menu_open</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><a routerLink="signUp">create your account</a></button>
      <button mat-menu-item><a routerLink="authentification">connexion</a></button>
      <button mat-menu-item><a (click)="logout()">deconnexion</a></button>
      <button mat-menu-item>A propos</button>
      <button mat-menu-item>Contact</button>
      
      
    </mat-menu>
  </div>
</header>

<div >
  
</div>
<div>
  <router-outlet></router-outlet>
</div>

<footer>
  <span>Copyright by Menahem Gershovitz</span>
</footer>
